@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-background-color: #252424;
  --color-dark-blue: #0283d4;
  --color-light-blue: #1abcfe;
  --color-light-green: #1dc3ca;
  --color-white: #efefef;
  --color-red: #e54849;
  --color-orange: #d8892f;
  --color-green: #59b868;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-color);
}

.navBar {
  background-color: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  padding: 0.5em 1em;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid var(--color-white);
}

.navBar .spacer {
  flex-grow: 2;
}

a.navigationLink {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  padding: 0.5em;

  /* white */

  color: #efefef;
  /* background-color: #59b868; */
  margin-left: 1em;

  text-decoration: none;
}

#navBarLogo {
  max-height: 40px;
}

/* highlighting active link */
.navbar .active {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;

  color: var(--color-orange);
}

/* profile picture */
.navBar #profileName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-red);
}

.hidden {
  display: none;
}

/* TODO: implement mobile queries */
/* display mobile navBar */
@media only screen and (max-width: 700px) {
}
